Manifest
.DS_Store
pkg/*
doc/*
coverage/*
html/*
rdoc/*
examples/pic_data/out.png
examples/pic_data/sprite_test.png
examples/pic_data/test.png
examples/pic_data/animal.png
*.swp
.rvmrc
examples/chunky_test.rb
examples/file.png