  .many_sized_cats_cat-on-keyboard {
    background: transparent url(/many_sized_cats/sprite.png) 0px 0px no-repeat;
    width:64;
    height:48;
    text-indent:-5000px;
  }

  .many_sized_cats_music-keyboard-cat {
    background: transparent url(/many_sized_cats/sprite.png) -304px 0px no-repeat;
    width:225;
    height:166;
    text-indent:-5000px;
  }

  .many_sized_cats_darth_cat {
    background: transparent url(/many_sized_cats/sprite.png) -64px 0px no-repeat;
    width:240;
    height:320;
    text-indent:-5000px;
  }

  .words_latitude {
    background: transparent url(/words/sprite.png) 0px 0px no-repeat;
    width:66;
    height:21;
    text-indent:-5000px;
  }

  .words_of {
    background: transparent url(/words/sprite.png) -66px 0px no-repeat;
    width:19;
    height:21;
    text-indent:-5000px;
  }

  .words_set {
    background: transparent url(/words/sprite.png) -85px 0px no-repeat;
    width:26;
    height:21;
    text-indent:-5000px;
  }

  .words_specified {
    background: transparent url(/words/sprite.png) -111px 0px no-repeat;
    width:70;
    height:21;
    text-indent:-5000px;
  }

