  .apple_iphone {
    background: transparent url(/apple/sprite.png) -234px 0px no-repeat;
    width:116;
    height:38;
    text-indent:-5000px;
  }

  .apple_itunes {
    background: transparent url(/apple/sprite.png) -350px 0px no-repeat;
    width:116;
    height:38;
    text-indent:-5000px;
  }

  .apple_mac {
    background: transparent url(/apple/sprite.png) -466px 0px no-repeat;
    width:116;
    height:38;
    text-indent:-5000px;
  }

  .apple_apple {
    background: transparent url(/apple/sprite.png) 0px 0px no-repeat;
    width:117;
    height:38;
    text-indent:-5000px;
  }

  .apple_search {
    background: transparent url(/apple/sprite.png) -582px 0px no-repeat;
    width:162;
    height:38;
    text-indent:-5000px;
  }

  .apple_divider {
    background: transparent url(/apple/sprite.png) -117px 0px no-repeat;
    width:1;
    height:38;
    text-indent:-5000px;
  }

  .apple_support {
    background: transparent url(/apple/sprite.png) -860px 0px no-repeat;
    width:116;
    height:38;
    text-indent:-5000px;
  }

  .apple_store {
    background: transparent url(/apple/sprite.png) -744px 0px no-repeat;
    width:116;
    height:38;
    text-indent:-5000px;
  }

  .apple_downloads {
    background: transparent url(/apple/sprite.png) -118px 0px no-repeat;
    width:116;
    height:38;
    text-indent:-5000px;
  }

